
    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded" src="assets/img/about.jpg" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="mb-4">
                        <h5 class="d-inline-block text-greenblue text-uppercase border-bottom border-5">About Us</h5>
                        <h1 class="display-4">Best Medical Care For Yourself and Your Family</h1>
                    </div>
                    <p>    Welcome to our Doctor Appointment Booking System — your trusted digital healthcare assistant. We aim to simplify the way patients connect with doctors by offering a seamless, real-time platform for scheduling appointments. Whether you're looking for a general physician or a specialist, our system helps you find available doctors, view their specialties, and book appointments instantly.
                        Our mission is to improve healthcare accessibility, reduce waiting times, and empower patients with smart tools to manage their health efficiently.</p>
                    <div class="row g-3 pt-3">
                        <div class="col-sm-3 col-6">
                            <div class="bg-light text-center rounded-circle py-4">
                                <i class="fa fa-3x fa-user-md text-greenblue mb-3"></i>
                                <h6 class="mb-0">Qualified<small class="d-block text-greenblue">Doctors</small></h6>
                            </div>
                        </div>
                        <div class="col-sm-3 col-6">
                            <div class="bg-light text-center rounded-circle py-4">
                                <i class="fa fa-3x fa-procedures text-greenblue mb-3"></i>
                                <h6 class="mb-0">Emergency<small class="d-block text-greenblue">Services</small></h6>
                            </div>
                        </div>
                        <div class="col-sm-3 col-6">
                            <div class="bg-light text-center rounded-circle py-4">
                                <i class="fa fa-3x fa-microscope text-greenblue mb-3"></i>
                                <h6 class="mb-0">Quick<small class="d-block text-greenblue">Responce</small></h6>
                            </div>
                        </div>
                        <div class="col-sm-3 col-6">
                            <div class="bg-light text-center rounded-circle py-4">
                                <i class="fa fa-3x fa-ambulance text-greenblue mb-3"></i>
                                <h6 class="mb-0">Voice<small class="d-block text-greenblue">Service</small></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Footer Start -->
       <div class="container-fluid bg-dark text-light mt-5 py-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="d-inline-block text-greenblue text-uppercase border-bottom border-5 border-secondary mb-4">Get In Touch</h4>
                    <p class="mb-4">HAM SERVICES</p>
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-greenblue me-3"></i>LTIMINDTREE, MAHAPE</p>
                    <p class="mb-2"><i class="fa fa-envelope text-greenblue me-3"></i>ltim.com</p>
                    <p class="mb-0"><i class="fa fa-phone-alt text-greenblue me-3"></i>+012 345 67890</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="d-inline-block text-greenblue text-uppercase border-bottom border-5 border-secondary mb-4">Quick Links</h4>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-light mb-2" routerLink="/landing"><i class="fa fa-angle-right me-2"></i>Home</a>
                        <a class="text-light mb-2" routerLink="/login"><i class="fa fa-angle-right me-2"></i>Login</a>
                        <a class="text-light mb-2" routerLink="/register"><i class="fa fa-angle-right me-2"></i>Register</a>

                    </div>
                    
                </div>

                <div class="col-lg-3 col-md-6">
                    <h4 class="d-inline-block text-greenblue text-uppercase border-bottom border-5 border-secondary mb-4">Newsletter</h4>
                    <form action="">
                        <div class="input-group">
                            <input type="text" class="form-control p-3 border-0" placeholder="Your Email Address">
                            <button class="btn btn-greenblue">Sign Up</button>
                        </div>
                    </form>
                    <h6 class="text-greenblue text-uppercase mt-4 mb-3">Follow Us</h6>
                    <div class="d-flex">
                        <a class="btn btn-lg btn-greenblue btn-lg-square rounded-circle me-2" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-lg btn-greenblue btn-lg-square rounded-circle me-2" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-lg btn-greenblue btn-lg-square rounded-circle me-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-lg btn-greenblue btn-lg-square rounded-circle" href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>

                                <div class="col-lg-3 col-md-6">

                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3769.9431656793727!2d73.02813971152797!3d19.110149082026847!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c0fa95ff1789%3A0xed94f90522f1346b!2sLTIMindtree!5e0!3m2!1sen!2sin!4v1759677108946!5m2!1sen!2sin" width="300" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-light border-top border-secondary py-4">
        <div class="container">
            <div class="row g-5">
                <div class="col-md-6 text-center text-md-start">
                    <p class="mb-md-0">&copy; <a class="text-greenblue" href="#">HAM  </a>. All Rights Reserved.</p>
                </div>

            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-greenblue btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


